@import "tailwindcss";

@Layer components {
    .footer__link {
        @apply text-gray-600 dark:text-gray-500 text-sm cursor-pointer w-fit hover:text-sky-700 mb-8
    }

}

@custom-variant dark (&:where(.dark, .dark *));